<section class="hostProfile">
  <div class="container  fix-footer">
    <div class="row pr-4 pl-4 p-5">
      <div class="col-md-3 text-center">
        <img src={{user.avatar}} style="width: 100%; border-radius: 50%;" alt="">
        <br>
        <h5>{{user.createdAt}}</h5>
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <button class="btn btn-primary btn-style">Edit profile</button>
        <br><br>
      </div>
      <div class="col-md-9 ">
        <div class="tab mb-3">
          <button class="tablinks" (click)="tabChanger(1)" mat-raised-button>Information</button>
          <button class="tablinks" (click)="tabChanger(2)" mat-raised-button>Add Place</button>
          <button class="tablinks" (click)="tabChanger(3)" mat-raised-button>Places</button>

        </div>
<!-- host information -->
        <div [hidden]="index!==1">

          <div class="row">
            <div class="col-8">
              <div>

                <h4>First name: {{user.firstname}} {{souad}}</h4>
                <h4>Surname: {{user.lastname}}</h4>
                <h4>Email: {{user.email}} </h4>
                <h4>Phone number: </h4>

              </div>
            </div>
            <div class="col-4 text-center">
              <div>
                <h4>Location map</h4>
                <div class="map-responsive">
                  <iframe
                    src={{loc}}
                    width="100%" height="100%" style="border-radius: 30px" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- add places -->
        <div [hidden]="index!==2">
          <div class="customDiv">
            <div class="row">
              <div class="card-body login-form form-flow">
                <form [formGroup]="form" (ngSubmit)="OnSubmit()">
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg fill="white" width="15px" height="auto"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
                          </svg></span>
                      </div>
                      <input type="text" class="form-control" formControlName="title"  placeholder="Title">
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    form.controls['title'].invalid &&
                    (form.controls['title'].touched || form.controls['title'].dirty)
                  ">
                      <small class="form-text text-danger m-0" *ngIf="form.controls['title'].hasError('required')">*you
                        must write a Title</small>
                      <small class="form-text text-danger m-0" *ngIf="form.controls['title'].hasError('minlength')">*min
                        length is 5</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-928-896q8-11 21-12.5t24 6.5l51 38q11 8 12.5 21t-6.5 24l-182 243 182 243q8 11 6.5 24t-12.5 21l-51 38q-11 8-24 6.5t-21-12.5l-226-301q-14-19 0-38zm802 301q14 19 0 38l-226 301q-8 11-21 12.5t-24-6.5l-51-38q-11-8-12.5-21t6.5-24l182-243-182-243q-8-11-6.5-24t12.5-21l51-38q11-8 24-6.5t21 12.5zm-620 461q-13-2-20.5-13t-5.5-24l138-831q2-13 13-20.5t24-5.5l63 10q13 2 20.5 13t5.5 24l-138 831q-2 13-13 20.5t-24 5.5z" />
                          </svg>
                        </span>
                      </div>
                      <input type="text" class="form-control" formControlName="description" placeholder="description">
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    form.controls['description'].invalid &&
                    (form.controls['description'].touched || form.controls['description'].dirty)
                  ">
                      <small class="form-text text-danger m-0"
                        *ngIf="form.controls['description'].hasError('required')">*required description</small>
                      <small class="form-text text-danger m-0"
                        *ngIf="form.controls['description'].hasError('minlength')">*min length is 2</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-928-896q8-11 21-12.5t24 6.5l51 38q11 8 12.5 21t-6.5 24l-182 243 182 243q8 11 6.5 24t-12.5 21l-51 38q-11 8-24 6.5t-21-12.5l-226-301q-14-19 0-38zm802 301q14 19 0 38l-226 301q-8 11-21 12.5t-24-6.5l-51-38q-11-8-12.5-21t6.5-24l182-243-182-243q-8-11-6.5-24t12.5-21l51-38q11-8 24-6.5t21 12.5zm-620 461q-13-2-20.5-13t-5.5-24l138-831q2-13 13-20.5t24-5.5l63 10q13 2 20.5 13t5.5 24l-138 831q-2 13-13 20.5t-24 5.5z" />
                          </svg></span>
                      </div>
                      <input type="text" class="form-control" formControlName="phone" placeholder="phone">
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    form.controls['phone'].invalid &&
                    (form.controls['phone'].touched || form.controls['phone'].dirty)
                  ">
                      <small class="form-text text-danger m-0"
                        *ngIf="form.controls['phone'].hasError('required')">*required phone</small>
                      <small class="form-text text-danger m-0" *ngIf="form.controls['phone'].hasError('minlength')">*min
                        length is 11</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-928-896q8-11 21-12.5t24 6.5l51 38q11 8 12.5 21t-6.5 24l-182 243 182 243q8 11 6.5 24t-12.5 21l-51 38q-11 8-24 6.5t-21-12.5l-226-301q-14-19 0-38zm802 301q14 19 0 38l-226 301q-8 11-21 12.5t-24-6.5l-51-38q-11-8-12.5-21t6.5-24l182-243-182-243q-8-11-6.5-24t12.5-21l51-38q11-8 24-6.5t21 12.5zm-620 461q-13-2-20.5-13t-5.5-24l138-831q2-13 13-20.5t24-5.5l63 10q13 2 20.5 13t5.5 24l-138 831q-2 13-13 20.5t-24 5.5z" />
                          </svg></span>
                      </div>
                      <input type="text" class="form-control" formControlName="type" placeholder="type">
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    form.controls['type'].invalid &&
                    (form.controls['type'].touched || form.controls['type'].dirty)
                  ">
                      <small class="form-text text-danger m-0"
                        *ngIf="form.controls['type'].hasError('required')">*required type</small>
                      <small class="form-text text-danger m-0" *ngIf="form.controls['type'].hasError('minlength')">*min
                        length is 11</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg width="15px" height="auto" fill="white"
                                                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-928-896q8-11 21-12.5t24 6.5l51 38q11 8 12.5 21t-6.5 24l-182 243 182 243q8 11 6.5 24t-12.5 21l-51 38q-11 8-24 6.5t-21-12.5l-226-301q-14-19 0-38zm802 301q14 19 0 38l-226 301q-8 11-21 12.5t-24-6.5l-51-38q-11-8-12.5-21t6.5-24l182-243-182-243q-8-11-6.5-24t12.5-21l51-38q11-8 24-6.5t21 12.5zm-620 461q-13-2-20.5-13t-5.5-24l138-831q2-13 13-20.5t24-5.5l63 10q13 2 20.5 13t5.5 24l-138 831q-2 13-13 20.5t-24 5.5z" />
                          </svg>
                        </span>
                      </div>
                      <input class="form-control file-blue" type="file" id="img" name="img" accept="image/*" formControlName="image" placeholder="image" multiple>
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    form.controls['image'].invalid &&
                    (form.controls['image'].touched || form.controls['image'].dirty)">
                      <small class="form-text text-danger m-0"
                             *ngIf="form.controls['image'].hasError('required')">*required images</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control">
                        <select class="form-select" [(ngModel)]="location" formControlName="location" required>
                          <!-- <option value="cairo" selected>Cairo</option> -->
                          <option [ngValue]="null" [disabled]="true">location</option>
                          <option *ngFor="let location of locations" value="{{location}}">{{location}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control ">
                        <select class="form-select form-group"   [(ngModel)]="category" formControlName="category" required>

                          <option [ngValue]="null" [disabled]="true">category</option>
                          <option *ngFor="let category of categories"  value="{{category}}">{{category}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control ">
                        <select class="form-select form-group"  [(ngModel)]="tag"  formControlName="tag" required>

                          <option [ngValue]="null" [disabled]="true">tag</option>
                          <option *ngFor="let tag of tags" value="{{tag}}">{{tag}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" [disabled]="form.invalid" formControlName="Add" value="Add" class="btn float-right login_btn">
                  </div>
                  <small class="form-text text-danger">{{erro}}</small>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- host places -->
        <div [hidden]="index!==3">
          <div *ngFor="let place of places">
            <div class="row">
              <div class="col-2">
                <img src="http://www.newdesignfile.com/postpic/2013/01/generic-user-icon-windows_321380.png"
                  style="width: 100%;" alt="">
              </div>
              <div class="col-7">
                <h4 class="text-secondary">{{place.title}}</h4>
                <h6 class="text-secondary">{{place.description}}</h6>
              </div>
              <div class="col-3">
                <span class="float-right text-secondary">{{place.createdAt}}</span>
                <button class="btn btn-success float-right" (click)="editPlace(place)">Edit</button>
              </div>s
              <div class="col-3">
                <span class="float-right text-secondary">{{place.createdAt}}</span>
                <button class="btn btn-danger float-right" (click)="deletePlace(place._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>

       

      </div>
    </div>
  </div>
</section>
