<nav class="container-fluid">
  <div class="nav-wrapper ">
    <a routerLink="/" class="logo" [class.deactivate]="IsNavOpen">
      <img src="assets/images/yalla%20feen%20logo1.png" alt="logo">
    </a>
    <button
      class="search-component btn btn-secondary" [hidden]="IsNavOpen"  [class.active]="IsSearchOpen" >
      <input #searchInput (focusout)="loseFocusNav()" class="span-style pr-2 pl-2" type="text" placeholder="Find your trip">
      <span class="icon-search-wrapper" (click)="StartSearch(searchInput)" *ngIf="IsSearchOpen">
        <i class="fas fa-search"></i>
      </span>
      <span class="icon-search-wrapper"  routerLink="/search-result" *ngIf="!IsSearchOpen">
        <i class="fas fa-search"></i>
      </span>
    </button>
    <div class="mobile-list-icon" [class.menu-open]="IsNavOpen" id="navIcon" (click)="OpenNav()" >
      <div class="a"></div>
      <div class="b"></div>
      <div class="c"></div>
    </div>
  </div>
  <section class="menu-mobile-list" id="navOpen" [class.active]="IsNavOpen">
    <a class=" about item-style" routerLink="">
      <img src="assets/images/yalla%20feen%20logo1.png" alt="logo">
    </a>
    <a class=" services item-style" href="sign_up.html">Places</a>
    <a class=" faqs item-style" href="./review.html">FAQS</a>
    <a class=" blog item-style" routerLink="/user/login">Login</a>
    <a class=" place-order item-style" routerLink="/info/about-us">About Us</a>
    <a class="contact item-style" routerLink="/info/contact-us">CONTACT US</a>
  </section>
</nav>
<div class="sky-wrapper" [class.blur]="isCustom">
  <div class="sky1-wrapper">
    <img src="assets/images/sky1.png" alt="">
  </div>
  <div class="sky1-1-wrapper">
    <img src="assets/images/sky1.png" alt="">
  </div>
  <div class="sky2-wrapper">
    <img src="assets/images/sky2.png" alt="">
  </div>
  <div class="sky2-2-wrapper">
    <img src="assets/images/sky2.png" alt="">
  </div>
  <div class="sky3-wrapper">
    <img src="assets/images/sky3.png" alt="">
  </div>
  <div class="sky3-3-wrapper">
    <img src="assets/images/sky3.png" alt="">
  </div>
  <div class="sky4-wrapper">
    <img src="assets/images/sky4.png" alt="">
  </div>
  <div class="sky4-4-wrapper">
    <img src="assets/images/sky4.png" alt="">
  </div>
</div>
<div class="main-bg" [class.blur]="isCustom"></div>
<router-outlet (activate)="componentAdded($event)"></router-outlet>
