<section class="Custom-form">
  <div class="container  fix-footer">
    <div class="Custom-form-wrapper  p-md-5 p-sm-3 p-1 pt-3 pb-3 text-center">
      <ol class="carousel-indicators carousel-indicators-override mt-3">
        <li class="carousel-control-style" [class.active]="MyStep===1"></li>
        <li class="carousel-control-style" [class.active]="MyStep===2"></li>
        <li class="carousel-control-style" [class.active]="MyStep===3"></li>
        <li class="carousel-control-style" [class.active]="MyStep===4"></li>
      </ol>
      <h2>Custom Trip</h2>
      <div *ngIf="MyStep===1" class="step">
        <h4 class="step-title mt-5 mb-3">Who are you?</h4>
        <div class="row">
          <div [class.not-selected]="VisitorType!=='solo' && VisitorType" [class.selected]="VisitorType=='solo'"
               (click)="VisitorTypeSelection(1)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper">
            <div class="img-wrapper">
              <img src="assets/images/indvuidally.jpg" alt="">
            </div>
            <p>Individually</p>
          </div>
          <div [class.not-selected]="VisitorType!=='friends' && VisitorType" [class.selected]="VisitorType=='friends'"
               (click)="VisitorTypeSelection(2)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/friends.jpg" alt="">
            </div>
            <p>Friends</p>
          </div>
          <div [class.not-selected]="VisitorType!=='couple' && VisitorType" [class.selected]="VisitorType=='couple'"
               (click)="VisitorTypeSelection(3)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/couple.jpg" alt="">
            </div>
            <p>Couple</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'"
               (click)="VisitorTypeSelection(4)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/family.jpg" alt="">
            </div>
            <p>Family</p>
          </div>
        </div>
      </div>
      <div *ngIf="MyStep===2" class="step">
        <h4 class="step-title mt-5 mb-3">Location</h4>
        <div class="form-group">
          <label for="LocationCity">City</label>
          <ng-select class="ng-select-responsive" [items]="cities"
                     bindLabel="Place city"
                     [virtualScroll]="true"
                     bindValue="Place city"
                     id="LocationCity"
                     appendTo="body"
                     placeholder="Choose your Trip City...">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="Region">Region</label>
          <ng-select class="ng-select-responsive" [items]="cities"
                     bindLabel="Region"
                     [virtualScroll]="true"
                     bindValue="Region"
                     id="Region"
                     appendTo="body"
                     placeholder="Choose your Trip Region...">
          </ng-select>
        </div>
      </div>
      <div *ngIf="MyStep===3" class="step">
        <h4 [hidden]="Category" class="step-title mt-3 mb-3">Select Your Category ?</h4>
        <div [hidden]="Category" class="row">
          <div [class.not-selected]="Category!=='Cafe & Restaurants' && Category"
               [class.selected]="Category=='Cafe & Restaurants'"
               (click)="CategorySelection(1)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Cafe & Restaurants.jpg" alt="">
            </div>
            <p>Cafe & Restaurants</p>
          </div>
          <div [class.not-selected]="Category!=='Cinemas & Theater' && Category"
               [class.selected]="Category=='Cinemas & Theater'"
               (click)="CategorySelection(2)" class="col-md-3 col-6 pb-4 option-wrapper">
            <div class="img-wrapper">
              <img src="assets/images/Cinemas & Theater.jpg" alt="">
            </div>
            <p>Cinemas & Theater</p>
          </div>
          <div [class.not-selected]="Category!=='Historical Places' && Category"
               [class.selected]="Category=='Historical Places'"
               (click)="CategorySelection(3)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Historical Places.jpg" alt="">
            </div>
            <p>Historical Places</p>
          </div>
          <div [class.not-selected]="Category!=='Gardens & Clubs' && Category"
               [class.selected]="Category=='Gardens & Clubs'"
               (click)="CategorySelection(4)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Gardens & Clubs.jpg" alt="">
            </div>
            <p>Gardens & Clubs</p>
          </div>
          <div [class.not-selected]="Category!=='Co-working Space' && Category"
               [class.selected]="Category=='Co-working Space'"
               (click)="CategorySelection(5)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Co-working Space.jpg" alt="">
            </div>
            <p>Co-working Space</p>
          </div>
          <div [class.not-selected]="Category!=='Shopping' && Category" [class.selected]="Category=='Shopping'"
               (click)="CategorySelection(6)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Shopping.jpg" alt="">
            </div>
            <p>Shopping</p>
          </div>
          <div [class.not-selected]="Category!=='Entertainment Places' && Category"
               [class.selected]="Category=='Entertainment Places'" (click)="CategorySelection(7)"
               class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/Entertainment Places.jpg" alt="">
            </div>
            <p>Entertainment Places</p>
          </div>
          <div class="col-md-3 col-6 pb-4 option-wrapper not-selected">
            <div class="img-wrapper">
              <img src="assets/images/Events.jpg" alt="">
            </div>
            <p>Events (coming soon)</p>
          </div>
        </div>
        <div *ngIf="Category" class="tags-wrapper">
          <div class="option-wrapper selected mt-3" (click)="CategorySelection(0)">
            <i class="fas fa-times option-wrapper-selected-cross"></i>
            <div class="img-wrapper mb-0">
              <img src="assets/images/{{Category}}.jpg" alt="">
            </div>
            <p>{{Category}}</p>
          </div>
          <h4 class="step-title mt-3 mb-3">Select Tag</h4>
          <div class="form-group">
            <ng-select class="ng-select-responsive" [items]="Tags"
                       bindLabel="Place Tags"
                       [virtualScroll]="true"
                       bindValue="Place Tags"
                       id="Place Tags"
                       appendTo="body"
                       placeholder="Choose From your category Tags ">
            </ng-select>
          </div>
        </div>
      </div>
      <div *ngIf="MyStep===4" class="step">
        <h3 class="step-title mt-3 mb-3">Budget & Time</h3>
        <label>Select Your Budget in LE</label>
        <br>
        <mat-form-field class="example-form-field m-md-3">
          <mat-label>Max..</mat-label>
          <input matInput type="number">
        </mat-form-field>
        <mat-form-field class="example-form-field m-md-3">
          <mat-label>Min..</mat-label>
          <input matInput type="number">
        </mat-form-field>
        <br>
        <label>Select Trip time</label>
        <br>
        <div class="time-picker-wrapper">
          <div class="time-input mr-md-3">
            <ng-select class="ng-select-responsive time-select" [items]="timeArray"
                       bindLabel="From"
                       [virtualScroll]="true"
                       bindValue="From time"
                       appendTo="body"
                       placeholder="From..">
            </ng-select>
            <div (click)="AMorPM('from')" class="pmam">{{isFromAM?'PM':'AM'}}</div>
          </div>
          <div class="time-input ml-md-3">
            <ng-select class="ng-select-responsive time-select" [items]="timeArray"
                       bindLabel="To"
                       [virtualScroll]="true"
                       bindValue="To time"
                       appendTo="body"
                       placeholder="To..">
            </ng-select>
            <div (click)="AMorPM('to')" class="pmam">{{isToAM?'PM':'AM'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <p [class.hidden]="MyStep===1" (click)="StepChanger('back')" class="btn ml-3">Back</p>
      <p *ngIf="MyStep!==4" (click)="StepChanger('next')" class="btn mr-3">Next</p>
      <p *ngIf="MyStep===4" class="btn mr-3" routerLink="/search-result">Submit</p>
    </div>
  </div>
</section>
