<section class="Custom-form">
  <div class="container  fix-footer" >
    <div class="Custom-form-wrapper  p-md-5 p-sm-3 p-1 pt-3 pb-3 text-center">
      <ol class="carousel-indicators carousel-indicators-override mt-3">
        <li  class="carousel-control-style" [class.active]="MyStep===1" ></li>
        <li class="carousel-control-style" [class.active]="MyStep===2"></li>
        <li class="carousel-control-style" [class.active]="MyStep===3"></li>
      </ol>
      <h2>Custom Trip</h2>
      <div *ngIf="MyStep===1" class="step">
        <h4 class="step-title mt-5 mb-3">Who are you?</h4>
        <div class="row">
          <div [class.not-selected]="VisitorType!=='solo' && VisitorType" [class.selected]="VisitorType=='solo'" (click)="VisitorTypeSelection(1)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper">
            <div class="img-wrapper">
              <img  src="assets/images/indvuidally.jpg" alt="">
            </div>
            <p >Individually</p>
          </div>
          <div [class.not-selected]="VisitorType!=='friends' && VisitorType" [class.selected]="VisitorType=='friends'" (click)="VisitorTypeSelection(2)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img  src="assets/images/friends.jpg" alt="">
            </div>
            <p >Friends</p>
          </div>
          <div [class.not-selected]="VisitorType!=='couple' && VisitorType" [class.selected]="VisitorType=='couple'" (click)="VisitorTypeSelection(3)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img  src="assets/images/couple.jpg" alt="">
            </div>
            <p >Couple</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-12 col-sm-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/family.jpg" alt="">
            </div>
            <p >Family</p>
          </div>
        </div>
      </div>
      <div *ngIf="MyStep===2" class="step">
        <h4 class="step-title mt-5 mb-3">Select Your Category ?</h4>
        <div class="row">
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/resturants.jpg" alt="">
            </div>
            <p>Cafe & Restaurants</p>
          </div>
          <div [class.not-selected]="VisitorType!=='solo' && VisitorType" [class.selected]="VisitorType=='solo'" (click)="VisitorTypeSelection(1)" class="col-md-3 col-6 pb-4 option-wrapper">
            <div class="img-wrapper">
              <img src="assets/images/cinemas&theater.jpeg" alt="">
            </div>
            <p >Cinemas & Theater</p>
          </div>
          <div [class.not-selected]="VisitorType!=='friends' && VisitorType" [class.selected]="VisitorType=='friends'" (click)="VisitorTypeSelection(2)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/historical%20places.jpg" alt="">
            </div>
            <p >Historical Places</p>
          </div>
          <div [class.not-selected]="VisitorType!=='couple' && VisitorType" [class.selected]="VisitorType=='couple'" (click)="VisitorTypeSelection(3)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/gardens.jpg" alt="">
            </div>
            <p >Gardens & Clubs</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/workspace.jpg" alt="">
            </div>
            <p>Co-working Space</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/shopping.jpg" alt="">
            </div>
            <p>Shopping Centre</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-6 pb-4 option-wrapper ">
            <div class="img-wrapper">
              <img src="assets/images/entertainment.jpg" alt="">
            </div>
            <p>Entertainment Places</p>
          </div>
          <div [class.not-selected]="VisitorType!=='family' && VisitorType" [class.selected]="VisitorType=='family'" (click)="VisitorTypeSelection(4)" class="col-md-3 col-6 pb-4 option-wrapper not-selected">
            <div class="img-wrapper">
              <img src="assets/images/events.jpg" alt="">
            </div>
            <p>Events (coming soon)</p>
          </div>
        </div>
        <h4 class="step-title mt-5 mb-3">Tags</h4>
        <div  class="form-group">
          <ng-select class="ng-select-responsive" [items]="PlaceCategory"
                     bindLabel="Place Category"
                     [virtualScroll]="true"
                     bindValue="Place Category"
                     id="PlaceCategory"
                     appendTo="body"
                     placeholder="Choose your Place Category ">
          </ng-select>
        </div>
      </div>
      <div *ngIf="MyStep===3" class="step">
        <h4 class="step-title mt-5 mb-3">Location</h4>
        <div class="form-group">
          <label for="LocationCity">City</label>
          <ng-select class="ng-select-responsive" [items]="cities"
                     bindLabel="Place city"
                     [virtualScroll]="true"
                     bindValue="Place city"
                     id="LocationCity"
                     appendTo="body"
                     placeholder="Choose your Trip City...">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="LocationRegion">Region</label>
          <ng-select class="ng-select-responsive" [items]="PlaceCategory"
                     bindLabel="Place Category"
                     [virtualScroll]="true"
                     bindValue="Place Category"
                     id="LocationRegion"
                     appendTo="body"
                     placeholder="Choose your Trip Region...">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <p [class.hidden]="MyStep===1" (click)="StepChanger('back')" class="btn ml-3">Back</p>
      <p [class.hidden]="MyStep===3" (click)="StepChanger('next')" class="btn mr-3">Next</p>
    </div>
  </div>
</section>
