<section class="hostProfile">
  <div class="container  fix-footer">
    <div class="row pr-4 pl-4 p-5">
      <div class="col-md-3 text-center">
        <img src={{user.avatar}} style="width: 100%; border-radius: 50%;" alt="">
        <br>
        <h5>{{user.createdAt}}</h5>
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <button class="btn btn-primary btn-style">Edit profile</button>
        <br><br>
      </div>
      <div class="col-md-9 ">
        <div class="tab mb-3">
          <button class="tablinks" (click)="tabChanger(1)" mat-raised-button>Information</button>
      
          <button class="tablinks" (click)="tabChanger(2)" mat-raised-button>Favorite places</button>

        </div>

        <div [hidden]="index!==1">

          <div class="row">
            <div class="col-8">
              <div>

                <h4>First name: {{user.firstname}} {{souad}}</h4>
                <h4>Surname: {{user.lastname}}</h4>
                <h4>Email: {{user.email}} </h4>
                <h4>Phone number: </h4>

              </div>
            </div>
            <div class="col-4 text-center">
              <div>
                <h4>Location map</h4>
                <div class="map-responsive">
                  <iframe
                    src={{loc}}
                    width="100%" height="100%" style="border-radius: 30px" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>


        

        <div [hidden]="index!==2">
          <div *ngFor="let favorite of favorites">
            <div class="row">
              <div class="col-2">
                <img src="http://www.newdesignfile.com/postpic/2013/01/generic-user-icon-windows_321380.png"
                  style="width: 100%;" alt="">
              </div>
              <div class="col-7">
                <h4 class="text-secondary">{{favorite.title}}</h4>
              </div>
              <div class="col-3">

                <button class="btn btn-primary float-right" routerLink="/trip/details/{{favorite._id}}">Details</button>
              </div>
              <div class="col-3">

                <button class="btn btn-danger float-right" (click)="deleteFavorite(favorite._id)">Delete</button>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
