<div class="container login-form ">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 class="title-color">Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="mb-4">
            <div class="input-group form-group mb-0 pb-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="Email" placeholder="Email">
            </div>
            <div class="mt-0 pt-0"
                 *ngIf="
              form.controls['Email'].invalid &&
              (form.controls['Email'].touched || form.controls['Email'].dirty)
            "
            >
              <small
                class="form-text text-danger m-0"
                *ngIf="form.controls['Email'].hasError('required')"
              >*required email</small
              >
              <small
                class="form-text text-danger m-0"
                *ngIf="form.controls['Email'].hasError('email')"
              >*invalid email</small
              >
              <small
                class="form-text text-danger m-0"
                *ngIf="form.controls['Email'].hasError('minlength')"
              >*min length is 5</small
              >
              <small
                class="form-text text-danger m-0"
                *ngIf="form.controls['Email'].hasError('maxlength')"
              >*max length is 30</small
              >
            </div>
          </div>
          <div class="mb-4">
            <div class="input-group form-group mb-0 pb-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" formControlName="Password" placeholder="Password">
            </div>
            <div class="mt-0 pt-0" *ngIf="form.controls['Password'].invalid &&
              (form.controls['Password'].touched || form.controls['Password'].dirty)">
              <small
                class="form-text text-danger"
                *ngIf="form.controls['Password'].hasError('required')"
              >required password</small
              >
              <small
                class="form-text text-danger"
                *ngIf="form.controls['Password'].hasError('minlength')"
              >min length is 6</small
              >
              <small
                class="form-text text-danger"
                *ngIf="form.controls['Password'].hasError('maxlength')"
              >max length is 18</small
              >
            </div>
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group" routerLink="/">
            <input type="submit" [disabled]="form.invalid" value="Login" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a routerLink="/user/sign-up">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a routerLink="/user/forget-password">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
