<section class="container home">
  <div  class="row row-cols-1 row-cols-md-3  row-wrapper">
    <div *ngFor="let trip of places" class="flip-card-container  col-xl-4 col-md-6 col" style="--hue: 220">
      <div class="flip-card">
        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src='{{trip.images[0]}}' alt="{{trip.title}}">
            <figcaption>{{trip.title}}</figcaption>
          </figure>
          <div class="card-body">
            <br>
            <br>
            <br>
            <br>
            <p class="card-text">{{trip.description}}</p>
            <div class="wrapper">
             <app-rating [stars]='trip.rating[0]'></app-rating>
              <span>{{trip.createdAt}}</span>
            </div>
          </div>
        </div>

        <div class="card-back">
          <app-favorite [isFavorite]="" (change)="changeFavorite(trip._id)"  ></app-favorite>
          <figure>
            <div class="img-bg"></div>
            <img src='{{trip.images[0]}}' alt="{{trip.title}}">
          </figure>

          <button routerLink="/trip/details/{{trip._id}}">Show Details</button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
