<div *ngIf="stars==0">
  No Ratings Yet.
</div>
<div  *ngIf="stars>0">
  <span class="far fa-star"  [class.fas]="stars>=1" (click)="changeRating(1)"></span>
  <span class="far fa-star " [class.fas]="stars>=2"  (click)="changeRating(2)"> </span>
  <span class="far fa-star" [class.fas]="stars>=3"  (click)="changeRating(3)"></span>
  <span class="far fa-star" [class.fas]="stars>=4"  (click)="changeRating(4)"></span>
  <span class="far fa-star" [class.fas]="stars>=5"  (click)="changeRating(5)"></span>
</div>
